<div>   
  <div class="footer">
          <p id = "redes">
            <a href="https://www.facebook.com"><img src="./../../assets/redes/facebook.png" width="50" height="50"></a>
            <a href="https://www.google.com"><img src="./../../assets/redes/google-plus.png" width="50" height="50"></a>
            <a href="https://www.instagram.com"><img src="./../../assets/redes/instagram.png" width="50" height="50"></a>
            <a href="https://www.twitter.com"><img src="./../../assets/redes/twitter.png" width="50" height="50"></a>
            <a href="https://www.whatsapp.com"><img src="./../../assets/redes/whatsapp.png" width="50" height="50"></a>
          </p>
          <p>Proyecto final - Desarrollo Web - Codeando México _ Telmex Hub</p>
          <p>Jesus Salvador</p>
  </div>
</div> 