<div>   
  <div class="footer">
          <p id = "redes">
            <a href="https://www.facebook.com"><img src="./../../assets/redes/facebook.png" width="50" height="50"></a>
            <a href="https://plus.google.com/104661363711262180583"><img src="./../../assets/redes/google-plus.png" width="50" height="50"></a>
            <a href="https://www.instagram.com/coatl_hasashi/"><img src="./../../assets/redes/instagram.png" width="50" height="50"></a>
            <a href="https://twitter.com/influenziado"><img src="./../../assets/redes/twitter.png" width="50" height="50"></a>
            <a href="https://www.whatsapp.com"><img src="./../../assets/redes/whatsapp.png" width="50" height="50"></a>
          </p>
          <p>Proyecto final - Desarrollo Web - Codeando México _ Telmex Hub</p>
          <p>Jesus Salvador Vazquez Enriquez</p>
          <div>
              <p>Dispobible en :
                  <a href="https://www.apple.com/mx/iphone/"><img src="./../../assets/disponible/app_store.png" width="120" height="50"></a>
                  <a href="https://play.google.com/store?hl=es"><img src="./../../assets/disponible/play_store.png" width="120" height="50"></a>
              </p>
              <p>© Derechos Reservados 2001-2018 Majo Mexa Producciones Ceamic Todos los Derechos Reservados.<br>
                © Derechos Reservados 2001-2018 Come frutas y verduras Derechos de Contenido Reservados.</p>
          </div>
  </div>
</div> 