<div class="background-white">
    <!-- <p class="serv">ADOPTA</p> -->

    <div class="contenedor-oficios">
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Aquiles</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv1.webp" width="200px" alt="carpinteria">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Bruno</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv2.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Duke</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv3.webp" width="200px" alt=""> </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Lluvia</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv4.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Blacky</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv5.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Dante</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv6.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Maya</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv7.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Pancho</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv8.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Chuleta</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv9.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Gaspar</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv10.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Luneta</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv11.webp" width="200px" alt="">
            </div>
        </div>
        <div class="seccion-oficio">
            <div class="oficio-nombre">
                <h1 class="nombre-oficio">Bart</h1>
            </div>
            <div class="oficio-imagen">
                <img class="oficio-icono" id="" src="/assets/mv12.webp" width="200px" alt="">
            </div>
        </div>
    </div>
</div>