.background-white{
    height: 1200px;
  }
  .contenedor-oficios {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background-color: rgb(252, 252, 252);
      padding-top: 1%;
      padding-left: 4%;
      padding-right: 4%;
    }
    .seccion-oficio {
      background-color: #F3EDED;
      border: 15px solid #F3EDED;
      padding: 2px;
      height: 370px;
      text-align: center;
    }
  
    .serv{
      padding-left: 22%;
      color: rgb(62, 92, 224);
      text-transform: uppercase;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 20px;
      padding-top: 10%;
    }
  
    .oficio-nombre{
      /* border-style: solid;
      border-color: #92a8d1; */
      background-color: rgb(1, 1, 0);
      border: 1px solid rgba(0, 0, 0, 0.8);
      font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 50px;
      color: white;
    }
    
    .nombre-oficio{
        /* border-style: solid;
        border-color: #92a8d1; */
        background-color: #003CB2;
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        font-family: "PT Sans",Arial, Helvetica, sans-serif;
        padding: 1px 2px 2px 5px;
    }
    
    .oficio-imagen{
        padding-top: 10px;
  
    }

    .oficio-imagen img{
      object-fit: cover;
      height: 270px;
    }

