<h1>Centros de adopcion canina</h1>
  
<hr>
<!-- ubicacion 1-->
<div class="row">
    <div class="col-md-10">
        <section>
            <div class="container py-3">
              <div class="card">
                <div class="row ">
                  <div class="col-md-8">
                    <img src="assets/lugares/1.jpg" width="100%" height="250"/>
                    </div>
                    <div class="col-md-4 px-3">
                      <div class="card-block px-3">
                        <h4 class="card-title">
                          Milagros Caninos
                        </h4>
                        <p></p>
                        <p class="card-text">
                          Milagros Caninos es el primer Santuario en América Latina para perros en situaciones extremas. Nos dedicamos al cuidado y rehabilitación de perros con cáncer, sin patas, ciegos, sordos, quemados, torturados, paralíticos, violados, y drogados, entre otras condiciones.
                        </p>
                      </div>
                    </div>
          
                  </div>
                </div>
              </div>
          </section>
    </div>
  <div class="offset-2">
  </div>
</div>
<hr>
<!-- ubicacion 2 -->
<div class="row">
    <div class="col-md-10">
        <section>
            <div class="container py-3">
              <div class="card">
                <div class="row ">
                  
                    <div class="col-md-4 px-3">
                      <div class="card-block px-3">
                        <h4 class="card-title">Centro de Transferencia Canina</h4>
                        <p class="card-text"></p>

                       <p class="card-text">“Estamos trabajando para modernizarlo y hacerlo más efectivo”, dijo el mandatario capitalino, al inaugurar el Centro de Transferencia Canina del Metro de la CDMX, sitio dedicado a la atención, cuidado y adopción de animales de compañía, encontrados en situaciones de riesgo al interior de las estaciones.</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <img src="assets/lugares/2.jpg" width="100%" height="250"/>
                    </div>
          
                  </div>
                </div>
              </div>
          </section>
    </div>
  <div class="offset-2">
  </div>
</div>
<hr>
<!-- ubicacion 3-->
<div class="row">
    <div class="col-md-10">
        <section>
            <div class="container py-3">
              <div class="card">
                <div class="row ">
                  <div class="col-md-8">
                    <img src="assets/lugares/3.jpg" width="100%" height="250"/>
                    </div>
                    <div class="col-md-4 px-3">
                      <div class="card-block px-3">
                        <h4 class="card-title">
                         PETCO
                        </h4>
                        <p></p>
                        <p class="card-text">
                          En Petco los animales son primero, por ello somos amantes de las mascotas y conocemos el fuerte vínculo emocional que existe entre una mascota y su familia. <br>
                          Todos los días, puedes adoptar una mascota en una tienda. Petco y nuestros socios comunitarios, diariamente ayudan a encontrar hogares para miles de perros, gatos, conejos y otras mascotas todas las semanas.
                        </p>
                      </div>
                    </div>
          
                  </div>
                </div>
              </div>
          </section>
    </div>
  <div class="offset-2">
  </div>
</div>
<hr>
<!-- ubicacion 4 -->
<div class="row">
    <div class="col-md-10">
        <section>
            <div class="container py-3">
              <div class="card">
                <div class="row ">
                  
                    <div class="col-md-4 px-3">
                      <div class="card-block px-3">
                        <h4 class="card-title">ADÓPTAME MÉXICO</h4>
                        <p class="card-text">Es una fundación sin ánimo de lucro creada en febrero de 2015 por una pareja de voluntarios con amplia experiencia en el rescate y adopción animal que deciden unir sus fuerzas, entusiasmo y pasión para luchar por los más indefensos y realizar una labor por un bien social. Damos en adopción perritos y gatitos rescatados en situación de calle, abandonados, atropellados, maltratados, moribundos, etcétera, a los que se les cura, rehabilita, esteriliza, desparasita y vacuna para darlos en adopción responsable.</p>

                      </div>
                    </div>
                    <div class="col-md-8">
                      <img src="assets/lugares/4.jpg" width="100%" height="250"/>
                    </div>
          
                  </div>
                </div>
              </div>
          </section>
    </div>
  <div class="offset-2">
  </div>
</div>
 <hr>
<!-- tabla de direcciones -->

<!-- <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of centros">
      <th scope="row"> {{c.id}} </th>
      <td> {{c.nombreCentro}} </td>
      <td> {{c.direccion}} </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
    </tr> 
  </tbody>
</table> -->