<div id="wrapper" class = "toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a routerLink="/">
                      Adopta, No compres
                  </a>
              </li>
              <li>
                  <a routerLink="/registro">Login</a>
              </li>
              <li>
                  <a routerLink="/adopcion">Adopcion</a>
              </li>
              <li>
                  <a routerLink="/extravio">Extravio</a>
              </li>
              <li>
                  <a routerLink="/eventos">Eventos</a>
              </li>
              <li>
                  <a routerLink="/about">Acerca de nosotros</a>
              </li>
              <li>
                  <a routerLink="/contacto">Contacto</a>
              </li>
          </ul>
      </div>